canvas.deepar {
  border: 0px none;
  background-color: black;
  display: block;
  margin: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#loading-screen,
#permission-denied-screen,
#permission-denied-background {
  background-color: rgb(17 24 39 / 1);
  background-image: url("./images/gradient.svg"), url("./images/bg-grid-dark.svg");
  background-repeat: no-repeat, repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* Carousel */

.carousel {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
}

.carousel.active {
  cursor: grabbing;
}

.carousel-slider {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  width: fit-content;
  height: inherit;
  transition: left 0.3s ease;
  will-change: transform;
}

.carousel.active .inner {
  transition: none;
}

.carousel-center {
  width: 84px;
  height: 84px;
  border: 8px solid #fff;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
}

.carousel-slider .slide {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.carousel-slider .slide.active {
  margin-left: 24px;
  margin-right: 24px;
  width: 80px;
  height: 80px;
}

.slide {
  overflow: hidden;
  border: 2px solid white;
  -webkit-touch-callout: none; /* Safari Touch */
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge*/
  user-select: none; /* Future-proof*/
}
.slide.active {
  background-color: #010c43;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Loading spinner */

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading screen */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}

#loading-progress-bar {
  width: 0%;
  background: rgb(0 98 209 / 1);
  height: 100%;
  transition: width 5s ease-out;
}

/* Permission denied screen */

.permission-denied-text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.permission-denied-text {
  width: 400px;
  max-width: 95%;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
}

.permission-denied-button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
  display: inline-block;
  text-decoration: none;
  width: fit-content;

  &:hover {
    background-color: #eaeaea;
  }
}
